{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
  <div class="bg-grey">
    <div class="content">
      <div class="spacer_m"></div>
      {{ partial "slideshow" . }}
      <div class="spacer_m"></div>
      <h1 class="center">{{ .Title }}</h1>
      <div class="grey-text">Author notes</div>
      {{ .Content }}
      <div class="spacer_s"></div>
      <div class="center">
        <div class="latest-button text_xs">
          <a href="/">Home</a>
        </div>
      </div>
      <div class="spacer_m"></div>
    </div>
  </div>
{{ end }}
