{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
  <h1 class="center">{{ .Title }}</h1>
  {{ partial "slideshow" . }}
  <div class="grey-text">Author notes</div>
  {{ .Content }}
  <div class="center">
    <div class="button grey-button">
      <a href="/">Back to Home</a>
    </div>
  </div>
{{ end }}
{{ define "footer" }}
  <div class="footer-container">
    <div class="footer">
      {{ $t := time.Now }}
      <div>All rights reserved © {{ $t.Year }}</div>
      <div><a href="https://gergosuto.com/">gergosuto.com</a></div>
    </div>
  </div>
{{ end }}
