{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
  <div style="display: flex; justify-content: space-between; color: grey;">
    <p>Gergő Sütő</p>
    <p>{{ .Date | time.Format "2 Jan 2006" }}</p>
  </div>
  <h1 class="center">{{ .Title }}</h1>
  {{ partial "slideshow" . }}
  <div class="post-text">
    {{ .Content }}
  </div>
{{ end }}
{{ define "footer" }}
  <footer class="center">
    {{ with .NextInSection }}
      <div class="button grey-button">
        <a href="{{ .RelPermalink }}"><</a>
      </div>
    {{ end }}
    <div class="button grey-button">
      <a href="/">Home</a>
    </div>
    {{ with .PrevInSection }}
      <div class="button grey-button">
        <a href="{{ .RelPermalink }}">></a>
      </div>
    {{ end }}
  </footer>
{{ end }}
