.slideshow-container {
  position: relative;
  margin: auto;
  max-width: 100%;
}
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
