/* General layout */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.content {
  max-width: 600px;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .content {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* Spacers */
.spacer_s {
  height: 1rem;
}
.spacer_m {
  height: 3rem;
}
.spacer_l {
  height: 5rem;
}

/* Text */
body {
  font-family: 'Ubuntu', 'Noto Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
a {
  text-decoration: none;
  color: inherit;
}
.serif {
  font-family: 'Noto Serif';
}
.symbol {
  font-family: 'Noto Sans Symbols 2';
}
.center {
  text-align: center;
}
.text_xs {
  font-size: .8rem;
}
.text_s {
  font-size: .9rem;
}
.text_m {
  font-size: 1rem;
}
.text_l {
  font-size: 1.2rem;
}
.text_xl {
  font-size: 1.5rem;
}
.uppercase {
  text-transform: uppercase;
}
.long_text {
  line-height: 1.5rem;
}
.airy-text {
  letter-spacing: .1rem;
}
.bold {
  font-weight: 800;
}
.text_link {
  text-decoration: underline;
}
.hover_under:hover {
  text-decoration: underline;
}
.caps {
  text-transform: capitalize;
}
.grey-text {
  color: #aaa;
}

/* Visual */
.bg-grey {
  background-color: #eee;
}

.bg-white {
  background-color: #fff !important;
}

.header-container {
  color: #000;
}
.header {
  display: flex;
  height: 2.5em;
  align-items: center;
  justify-content: end;

  text-transform: uppercase;
}
