* {
  box-sizing: border-box;
}

body {
  font-family: Ubuntu Mono, monospace;
  background-color: #eee;
}

a {
  text-decoration: none;
  color: #000;
}

.section {
  margin: 5em 0;
}

.center {
  text-align: center;
}

.grey-text {
  color: #aaa;
}

.small {
  font-size: 0.9em;
}

.content {
  max-width: 645px;
  margin: 0 auto;
}

.button {
  position:relative;
  display:inline-block;
  margin: .5em;
  user-select: none;
  cursor: pointer;
}
.button a {
  
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  
  display:block;
  position:relative;
  padding: .6em 1em;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 100px;
}

.button a:active {
  top:5px;
}

.button:after {
  content:"";
  height:100%;
  width:100%;
  padding:3px;
  position: absolute;
  bottom:-10px;
  left:-3px;
  z-index:-1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 100px;
}

/* Color button */

.color-button a {
  color:#000;
  background-color:#ffd341;

  -webkit-box-shadow:inset 0 1px 0 #fff, 0 5px 0 #916100;
  -moz-box-shadow:inset 0 1px 0 #fff, 0 5px 0 #916100;
  box-shadow:inset 0 1px 0 #fff, 0 5px 0 #916100;
}

.color-button a:active {
  background-color:#f0c639;
  
  -webkit-box-shadow:inset 0 1px 0 #fff, inset 0 -3px 0 #916100;
  -moz-box-shadow:inset 0 1px 0 #fff, inset 0 -3px 0 #916100;
  box-shadow:inset 0 1px 0 #fff, inset 0 -3px 0 #916100;
}

.color-button:after {
  background-color:#222;
}

/* Grey button */
.grey-button a {
  color:#000;
  background-color: #ddd;

  -webkit-box-shadow:inset 0 1px 0 #fff, 0 5px 0 #666;
  -moz-box-shadow:inset 0 1px 0 #fff, 0 5px 0 #666;
  box-shadow:inset 0 1px 0 #fff, 0 5px 0 #666;
}

.grey-button a:active {
  background-color:#ccc;
  
  -webkit-box-shadow:inset 0 1px 0 #fff, inset 0 -3px 0 #666;
  -moz-box-shadow:inset 0 1px 0 #fff, inset 0 -3px 0 #666;
  box-shadow:inset 0 1px 0 #fff, inset 0 -3px 0 #666;
}

.grey-button:after {
  background-color:#222;
}



footer {
  margin: 3em;
}

.post-text {
  line-height: 1.4em;
}
