{{ define "main" }}
  <main>
    <div class="bg-grey">
      {{ partial "latest-post" . }}
    </div>
    <div>
      <div class="content section">
        <div class="section-header center">
          <span class="bg-white">Majors</span>
        </div>
        {{ partial "major-gallery" . }}
      </div>
    </div>
    <div class="bg-grey">
      <div class="content section">
        <div class="section-header center">
          <span class="bg-grey">Minors</span>
        </div>
        {{ partial "minor-gallery" . }}
      </div>
    </div>
  </main>
{{ end }}
