{{ define "main" }}
  <main>
    <header class="home-page-header">
      <h1 class="center">{{ .Title }}</h1>
    </header>
    <div class="home-page-content center">
      {{ .Content }}
    </div>
    <div>
      {{ partial "latest-post" . }}
    </div>
    <div>
      {{ partial "major-gallery" . }}
    </div>
    <div>
      {{ partial "minor-gallery" . }}
    </div>
  </main>
{{ end }}

{{ define "footer" }}
  {{ $t := time.Now }}
  <footer class="center grey-text section">{{ $t.Year }} © all rights reserved</footer>
{{ end }}
