{{ $latestPost := first 1 (where (sort (where .Site.RegularPages "Section" "minors") "Date" "desc") ".Params.draft" "!=" true) }}
{{ with (index $latestPost 0) }}
  <div class="latest-container section">
    {{ $coverImagePath := printf "images/%s" .Params.Cover }}
      {{ with .Resources.Get $coverImagePath }}
        <div class="latest-thumbnail" style="background-image: url('{{ .RelPermalink }}');"></div>
    {{ end }}
    <div class="latest-summary">
      <div class="grey-text small">LATEST | {{ .Date | time.Format "2 Jan 2006" }}</div>
      <h2 class="latest-title">{{ .Title }}</h2>
      <p class="latest-excerpt">No special description this time: random street-style photos from a recent holiday in Italy.</p>
    </div>
  </div>
{{ end }}

<style media="screen">
  .latest-container {
    display: flex;
    flex-direction: row;
    padding: 1em;
    border: 1px solid #bbb;
    background-color: #fff;
    box-shadow: .05em .05em .3em .05em #ccc;
  }
  .latest-thumbnail {
    width: 150px;
    aspect-ratio: 1/1;
    flex-shrink: 0;
    background-size: cover;
    background-position: center;
  }
  .latest-summary {
    margin: 0 1em;
    display: flex;
    flex-direction: column;
  }
  .latest-excerpt {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 1em;
    max-height: 3em; /* Limiting to 2 lines */
    -webkit-line-clamp: 3; /* Specify the number of lines */
    -webkit-box-orient: vertical;
  }
</style>
