{{ $latestPost := first 1 (where (sort (where .Site.RegularPages "Section" "minors") "Date" "desc") ".Params.draft" "!=" true) }}
{{ with (index $latestPost 0) }}
  {{ $coverImagePath := printf "images/%s" .Params.Cover }}
  {{ with .Resources.Get $coverImagePath }}
  <div class="latest-container" style="background-image: url('{{ .RelPermalink }}');">
  {{ end }}
    <div class="latest-summary">
      <div class="latest-date">Latest post</div>
      <h2 class="latest-title">{{ .Title }}</h2>
      <p class="latest-excerpt">No special description this time: random street-style photos from a recent holiday in Italy.</p>
      <div class="latest-button text_xs">
        <a href="{{ .RelPermalink}}">Open <span class="symbol">&#x1F86D;</span></a>
      </div>
      <a class="text_xs uppercase text_link" style="margin-left: 1em;" href="#minor_gallery">See all</a>
    </div>
  </div>
{{ end }}

<style media="screen">
  .latest-container {
    display: flex;
    align-items: end;

    max-width: 645px;
    height: calc(100vh - 2.5em);
    min-height: 500px;
    margin: 0 auto;

    background-color: #eee;
    background-size: cover;
    background-position: center;
  }

  .latest-date {
    font-size: .8em;
    font-family: Noto Sans;
    color: #ddd;
    text-transform: uppercase;
  }

  .latest-summary {
    padding: 2.5em 1em;
    width: 100%;

    color: #fff;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.35) 15%, rgba(0,0,0,.9));
  }

  .latest-title {
    font-family: Noto Serif;
  }

  .latest-excerpt {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    
    font-size: .9em;
    line-height: 1.5em;
    max-height: 4.5em;
    -webkit-line-clamp: 3; /* Specify the number of lines */
    -webkit-box-orient: vertical;
    font-family: Noto Sans;
  }
</style>
