<div class="slideshow-container">
  {{ range where .Site.RegularPages "Section" "majors" }}
    <div class="slide">
      <div class="slide-image">
        {{ $coverImagePath := printf "images/%s" .Params.Cover }}
        {{ with .Resources.Get $coverImagePath }}
          <img src="{{ .RelPermalink }}">
        {{ end }}
      </div>
      <h2>{{ .Title }} ({{ .Date.Year }})</h2>
      <div class="slide-nav">
        <a class="mechanical-button prev" onclick="plusSlides(-1)">&larr;</a>
        <a class="mechanical-button open" href="{{ .RelPermalink }}">Open</a>
        <a class="mechanical-button next" onclick="plusSlides(1)">&rarr;</a>
      </div>
    </div>
  {{ end }}
</div>

<style>
/* Add CSS for slideshow */
.slideshow-container {

}
.slide {
  display: none;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.slide-image {
  display: flex;
  width: 100%;
  aspect-ratio: 1/1;
}
.slide-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin: 0 auto;
}
.slide-nav {
  display: flex;
}
.prev, .next {
  cursor: pointer;
  width: auto;
  font-weight: bold;
  user-select: none;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
</style>

<script>
let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("slide");
  if (n > slides.length) { slideIndex = 1 }
  if (n < 1) { slideIndex = slides.length }
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slides[slideIndex - 1].style.display = "flex";
}
</script>
