<div class="swiper HomeMajorSwiper">
  <div class="swiper-wrapper">
    {{ range where .Site.RegularPages "Section" "majors" }}
      <div class="swiper-slide">
        <a href="{{ .RelPermalink }}">
          {{ $coverImagePath := printf "images/%s" .Params.Cover }}
          {{ with .Resources.Get $coverImagePath }}
          <div class="swiper-slide-image" style="background-image: url('{{ .RelPermalink }}');"></div>
          {{ end }}
          <h3 class="swiper-slide-title">{{ .Title }} <span class="grey-text">({{ .Params.Albumdate }})</span></h3>
        </a>
      </div>
    {{ end }}
  </div>

  <!-- If we need scrollbar -->
  <div class="swiper-pagination"></div>

</div>

<style>
  :root {
    --swiper-theme-color: #000;
  }

  .swiper-slide a {
    display: table;
  }

  .swiper-slide a:hover {
    cursor: pointer;
  }

  .swiper-slide a:hover {
    text-decoration: underline;
  }

  .swiper-slide-image {
    height: 375px;
    width: 300px;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .swiper-slide-title {
    height: 3em;
    max-height: 3em;
    overflow: hidden;
    font-size: 1.1em;
    line-height: 1.5em;
    margin-bottom: 3em;
    font-weight: normal;
    font-family: 'Noto Serif';
    text-align: center;
  }

</style>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
var swiper = new Swiper(".HomeMajorSwiper", {
  slidesPerView: 1.2,
  grabCursor: true,

  pagination: {
    el: ".swiper-pagination",
    dynamicBullets: true,
  },
});
</script>