<div class="masonry-gallery">
  {{ range where .Site.RegularPages "Section" "minors" }}
    <a class="polaroid-link" href="{{ .RelPermalink }}">
      <div class="masonry-item">
        {{ $coverImagePath := printf "images/%s" .Params.Cover }}
        {{ with .Resources.Get $coverImagePath }}
          <img src="{{ .RelPermalink }}" alt="">
        {{ end }}
        <h2 class="masonry-title">{{ .Title }} <span class="symbol">&#x1F86D;</span></h2>
      </div>
    </a>
  {{ end }}
</div>

<style media="screen">
  .masonry-gallery {
    column-count: 2;
    column-gap: .5em;
  }
  .polaroid-link {
    font-size: 0;
  }
  .masonry-item {
    display: inline-block;
    position: relative;
    padding: .7rem;
    margin-top: .5rem;
    background-color: #fff;
    box-shadow: .05rem .05rem .3rem .05rem #ccc;
  }
  .masonry-item img {
    width: 100%;
  }
  .masonry-title {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: .7rem;
    padding: .7rem;
    box-sizing: content-box;
    font-size: .9rem;
    font-weight: normal;
  }
  .masonry-item:hover .masonry-title {
      display: block;
  }
  .masonry-item:hover img {
    opacity: .25;
  }
</style>
