<div class="masonry-gallery">
  {{ range where .Site.RegularPages "Section" "minors" }}
    <div class="masonry-item">
      <a href="{{ .RelPermalink }}">
        {{ $coverImagePath := printf "images/%s" .Params.Cover }}
        {{ with .Resources.Get $coverImagePath }}
          <img src="{{ .RelPermalink }}" alt="">
        {{ end }}
      </a>
    </div>
  {{ end }}
</div>

<style media="screen">
  .masonry-gallery {
    column-count: 3;
    column-gap: .5em;
  }
  .masonry-item {
    padding-top: .5em;
  }
  .masonry-item img {
    width: 100%;
  }
  .masonry-item a {
    display: block;
    font-size: 0;
  }
</style>
