<!-- Build with swiper.js -->

<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        {{ range .Resources.Match "images/*.jpeg" }}
        <div class="swiper-slide">
            <img src="{{ .RelPermalink }}">
        </div>
        {{ end }}
    </div>
</div>

<style>
    .swiper {
        width: 75%;
        aspect-ratio: 1/1;
    }

    .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .swiper-slide img {
        max-height: 100%;
        max-width: 100%;
        border: 1em white solid;
    }

    .swiper-3d .swiper-slide-shadow {
        background-color: rgba(0,0,0,0);
    }

    @media only screen and (max-width: 600px) {
    .swiper {
      width: 85%;
    }
  }
</style>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
var swiper = new Swiper(".mySwiper", {
    effect: "cards",
    grabCursor: true,
});
</script>